/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

#topbar {
    background-color: #51473d;
    text-align:right;
    color:white;
    font-family:verdana;
    font-size:65%;
    font-style:italic;
}

#menu {
    background-color: #51473d;
    background-image:url('pics/coffey.jpg');
    background-repeat:no-repeat;
    height:240px;

}

#menu ul li {
    float: left;
    position:relative;
    top:165px;
    margin: 4px 1px;
    
}

#menu ul li a { 
    background: #797066; 
    color: white; 
    display: block; 
    font-size:85%;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 8px 18px; 
    text-decoration: none; 
    
}

#menu ul li a:hover { 
    background: #9c9084; 
    
}

#menu ul li:first-letter {
     text-transform: uppercase;
}

#container {
    background-color:#eae7d2;
    width: 600px;
    margin: 0 auto;
}


#maincontent {
    background-color:#eae7d2;
    width: 50%;
    float:left;
    font-size:84%;


}

img {
    float: left; margin: 0px 4px 0px 6px;
}

#content {
    background-color:#eae7d2;
}


#subcontent {
    position:relative;
    top:20px;
    background-color:#eae7d2;
    width:40%;
    float:right;
    font-size:70%;
    height:auto;
    padding:4px;
    border-left-width:1px;
    border-left-style:dashed;
    border-left-color:gray;
}

#subcontent h1 {
    font-size:1.5em;
    font-style:inherit;
    color:#51473d;
    font-weight:lighter;
}

#subcontent h2 { 
    position:relative;
    top:50px;
    font-weight:lighter;
    font-size:1.3em;
}

#subcontent a:link {
    position:relative;
    top:35px;
    font-size:110%;
    color:#797066;
}

#bottomcontent {
    background-color:#eae7d2;
    clear:both;
    color:#797066;
    font-style:italic;
    font-family:verdana;
    font-size:60%;

}

h1 {
    font-family: Times;
    color:#797066;
}

p {
    font-family: verdana;
    color:#797066;
}

ul {
    list-style-type:none;
    font-size:110%;
    font-family:verdana;
    padding:2px;
}

#menu .active a { 
    background-color: #eae7d2; 
    color:#797066;
}